#**Python Project**
Creating a Python project for credit and debit transaction in a bank using Mysql.

Install the Mysql connector for Python

In [ ]:
pip install mysql-connector-python

Create a python file and run the below code. If the code runs succesfully then, the mysql connector is existing in our system.

In [ ]:
import mysql.connector

Connect to Mysql server using Pthon.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789"
)

Creating a database.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789"
)

my_curser = mydb.cursor()
my_curser.execute("CREATE DATABASE kmvhss_project")

Display the available databases.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789"
)

my_curser = mydb.cursor()
my_curser.execute("SHOW DATABASES")
for i in my_curser:
    print(i)

('gvhss_project',)
('information_schema',)
('kmvhss_project',)
('mini_project',)
('mysql',)
('performance_schema',)
('project',)
('project_gvhss',)
('sakila',)
('sys',)
('world',)

Creating the Tables **user, credit and debit.**

In [ ]:
# creating tables

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="kmvhss_project"
)

my_curser = mydb.cursor()
my_curser.execute("CREATE TABLE credit(ac_no varchar(50), amount dec(10,2))")
my_curser.execute("CREATE TABLE debit(ac_no varchar(50), amount dec(10,2))")
my_curser.execute("CREATE TABLE user(ac_no varchar(50) primary key, name varchar(50), ph_no int(10), balance dec(10,2))")

print(my_curser.rowcount)

0

Inserting the values into **user** table.

In [ ]:
#insert values into user table
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="kmvhss_project"
)

my_curser = mydb.cursor()

sql = "INSERT INTO user(ac_no, name,ph_no, balance) VALUES (%s, %s, %s, %s)"
val = [
    ('1001','Arjun', 999999999, 12000),
    ('1002', 'Nabeel', 99999999, 2000.00),
    ('1003', 'Layana', 87777777, 100.00),
    ('1004', 'Naseem', 66666666, 0.00)
    ]

my_curser.executemany(sql, val)
mydb.commit()

print(my_curser.rowcount)

3

Creating the two functions credit and debit for transaction.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="kmvhss_project"
)

my_curser = mydb.cursor()

def credit(ac_no, amount):
    # Check the account number is valid or not.
    my_curser.execute("SELECT * FROM user WHERE ac_no=%s", (ac_no,))
    my_curser.fetchall()
    
    if my_curser.rowcount == 0:
        print("Invalid Account Number")
        exit()
    
    # If the account number is valid then credit the amount. 
    else:
        sql1 = "INSERT INTO credit(ac_no, amount) VALUES(%s, %s)"
        val = (ac_no, amount)
        my_curser.execute(sql1, val)
        mydb.commit()
    
        sql2 = "UPDATE user SET balance=balance+%s WHERE ac_no=%s"
        amnt = (amount, ac_no)
        my_curser.execute(sql2, amnt)
        mydb.commit()
    
        print("The amount ", amount, " is successfully deposited in account ", ac_no,"\n")

    
def debit(ac_no, amount):
    # Check the account number is valid or not.
    my_curser.execute("SELECT * FROM user WHERE ac_no=%s", (ac_no,))
    my_curser.fetchall()
    
    if my_curser.rowcount == 0:
        print("Invalid Account Number \n")
        exit()
        
    # If the account number is valid then debit the amount. 
    else:
        sql1 = "INSERT INTO debit(ac_no, amount) VALUES(%s, %s)"
        val = (ac_no, amount)
        my_curser.execute(sql1, val)
        mydb.commit()
    
        sql2 = "UPDATE user SET balance=balance-%s WHERE ac_no=%s"
        amnt = (amount, ac_no)
        my_curser.execute(sql2, amnt)
        mydb.commit()
        print("The amount ", amount, " is successfully debited from account ", ac_no,"\n")
    
while True:
     print("Select the following options")
     print("1. Credit")
     print("2. Debit")
     print("3. Exit")
     option = int(input())
     if option == 1:
        ac_no = input("Enter your account number : ")
        amount = int(input("Enter the amount for Credit : "))
        credit(ac_no, amount)
        
     elif option == 2:
        ac_no = input("Enter your account number : ")
        amount = float(input("Enter the amount for deposit : "))
        debit(ac_no, amount)
        
     elif option == 3:
        break
        
     else:
        print("Invalid input \n")

print("Thank you")